.lanyard-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
  touch-action: none;
}

@media (max-width: 768px) {
  .lanyard-wrapper {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .lanyard-wrapper {
    height: 300px;
  }
}
